{{> head}}
{{> navbar}}


<div class="row">

    <div class="col">
        <h1>Lobo en la tundra</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem numquam temporibus ullam. Facere at suscipit blanditiis delectus nam ut molestias rerum quae nisi? Sequi et veritatis animi excepturi ea?:</p>
    </div>

    <div class="col">
        <img src="assets/img/image.png" class="img-thumbnail">
    </div>


</div>



{{> footer}}